jspm_packages
bower_components
node_modules
.idea
.circleci
.vscode
.rollupcache
doc
src
test
.editorconfig
.gitignore
.npmignore
bower.json
config.js
CONTRIBUTING.md
gulpfile.js
ISSUE_TEMPLATE.md
package-lock.json
tsconfig.json
tslint.json
